<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceso Denegado</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold text-red-600 mb-4">Acceso Denegado</h1>
    <p>No tienes permisos para acceder a esta página.</p>
    <a th:href="@{/}" class="text-blue-500 hover:underline">Volver al inicio</a>
</div>
</body>
</html>