<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
<body class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm p-10 w-96">
        <h1 class="text-2xl font-bold text-center text-blue-600 mb-4">Iniciar Sesión</h1>
        <form th:action="@{/login}" method="post" class="flex flex-col gap-4">
            <div>
                <label for="username" class="text-sm font-medium text-gray-500">Correo electrónico</label>
                <input type="text" name="username" placeholder="Correo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            </div>
            <div>
                <label for="password" class="text-sm font-medium text-gray-500">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Acceder</button>
        </form>
        <p th:if="${param.error}" class="text-red-500 mt-2">Credenciales inválidas</p>
        <p th:if="${param.logout}" class="text-green-500 mt-2">Sesión cerrada</p>
        <div class="mt-4 text-center">
            <a th:href="@{/expediente/estudiante/registro}" class="text-blue-600 hover:underline">¿No tienes cuenta? Regístrate como estudiante</a>
        </div>
    </div>
</body>
</html>